<div>
  Names: <%= $player1.name %> & <%= $player2.name %>
  <br>
  <%= session[:player2] %> hit points: <%= session[:player2points] %>
</div>
<p></p>
<form action="/player2attack" method="post">
  <input type="submit" value="Attack">
</form>
<p></p>
<%  if session[:player2attack] == true %>
  Player 2 attacked!
<% end %>
